body {
    width: auto;
    height: auto;
    font-family: sans-serif;
    padding: 15px 20px 15px 20px;
}

.header {
    text-align: center;
    font-size: larger;
}

.menu {
    display: inline-block;
}

.menu.right {
    float: right;
}

.menu a:link {
    color: black;
    text-decoration: none;
    /*font-style: italic;*/
    font-size: 13px;
}

.menu a:visited {
    color: black;
}

.menu a:hover {
    transition: .2s;
    color: #ff3838;
}

.menu a:active {
    color: black;
}

.search-border {
    padding: 10px;
    width: 700px;
    margin: 18% auto auto auto;
}
.search-border > form{
    box-sizing: border-box;
    vertical-align: middle;
}
#search-text {
    vertical-align: middle;
    font-size: 20px;
    border: 3px solid #FFDB4D;
    margin-left: 10px;
    margin-right: 0;
    padding: 5px;
    width: 80%;
    display: inline-block;
}

#search-text:focus {
    outline: none;
}

#search-btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: auto;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#search-btn p{
    padding-left: 6px;
    padding-right: 5px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 11px;
    display: inline;
    background: #FFDB4D;
}
.triangle-box{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border: 20px solid transparent;
}
.triangle-box.triangle-right{
    border-left-width: 12px;
    border-left-color: #FFDB4D;
    border-right: 0;
}

#search-btn:hover > span{
    border-left-color: #FFD633;
    border-right: 0;
}
#search-btn:hover > p{
    background: #FFD633;
}
.output {
    display: block;
    text-align: center;
    margin-top: 5px;
}

.footer {
    position: fixed;    
    text-align: center;
    display: block;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
}

.footer a:link {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.footer a:visited {
    color: grey;
}
.footer a:hover{
    color: black;
}
.footer a span {
    color: grey;
    transition: 0.3s;
}

.footer a:hover span {
    color: red;
    transition: 0.3s;
}